# Ignore node_modules
node_modules/
# Ignore logs
*.log
# Ignore environment files
.env
# Ignore Docker volumes
docker-volume/
# Ignore OS files
.DS_Store
Thumbs.db
# Ignore backup files
*.bak
# Ignore pnpm lock file
pnpm-lock.yaml
